*OUO*
.svn
.vscode
.idea
.DS_Store
.cproject
.project
.svnignore
XcodeFiles
build
build_*
documentation
testing
README.txt
*.tmp
*.zip
*.tgz
*.bz2
*.log
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
.vs/
out/