
/* In order to dynamically set color values from within Wt, we cant specify colors
   in the CSS file; so this fil is the same as SpectrumChartD3.js, just without
   color values for things we will want to maybe dynamically change.
*/

/*******************/
.roiDragBox {
  fill-opacity: 0.2;
  stroke-width: 1px;
  user-select: none;
  -moz-user-select: none;
}

.roiDragLine{
  fill: none;
  stroke-width: 1px;
}
/*******************/




.yaxis, .yaxislabel { font: sans-serif; font-size: 0.9em; font-weight: lighter; }
.xaxis { font: sans-serif; font-size: 0.9em; font-weight: lighter; }

.xaxis > .tick > line, .yaxis > .tick, .yaxistick { stroke-width: 1px; }

.xgrid > .tick, .ygrid > .tick{ stroke-opacity: 80%; }
.minorgrid { stroke-opacity: 50%; }

.peaklabel{ margin-left: 5px; }

.peakLine{ font-size: 0.8em; stroke-width: 2; }
.escapeLineForward { font-size: 0.8em; stroke-width: 2; stroke-dasharray: 2; }
  
.mouseLine      { font-size: 0.8em; stroke-width: 2; }
.secondaryMouseLine { font-size: 0.8em; stroke-width: 1; }

.referenceGammaSelectDiv { display: inline-block; margin-left: 25px; }
.referenceGammaSelect { width: 200px; height: 130px; }

.touchLine{  stroke-width: 2; stroke: gray; stroke-dasharray: 3;  }

.createPeakMouseLine { fill: none; stroke: black;  stroke-width: 1.5px; }
.createPeakArrowLine { fill: none; stroke: black;  stroke-width: 1px; }
.createPeakContEstLine { fill: none; stroke: grey; stroke-width: 2px;  }
.createPeakLeftTouchPoint { fill: blue; }
.createPeakRightTouchPoint { fill: black; }
.createPeakTouchLine { stroke-width: 2; stroke: grey; stroke-dasharray: 4; }


.refLineInfo{ font-size: 0.8em; }
.mouseInfo{ font-size: 0.85em;  }
.mouseInfoBox{ fill: white; fill-opacity: 0.85; }

.peakInfo{ font-size: 0.85em; }
.peakInfoBox{
  fill: #ffffcc;
  fill-opacity: 1;
  stroke: #444422;
}
.peakInfoLabel {
  font-weight: bold;
}

.legend{ font-size: 1em; }
.legentry{}
.legendBack{ fill: rgba(245,245,245,0.5); stroke: rgba(185,185,185,0.80); }
.activeLegend > .legendBack{ fill-opacity: 0.85; }
.legendHeader{ fill: rgba(185,185,185,0.80); fill-opacity: 0.55; }
.activeLegend > g > .legendHeader{ fill: #909090; fill-opacity: 0.95; }
.d3closebut{ fill: #909090; }
/* .d3closebut:hover{ fill: #4d4d4d; } */

.chartLineText {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.mouseLineText  {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.deletePeaksText  {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.countGammasText  {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.peakText{ font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.contEstLineText {  font-size: 0.8em; font-family: Helvetica, Arial;  stroke:grey;  }
.createPeakTouchText {  font-size: 0.8em; font-family: Helvetica, Arial;  stroke:grey; fill: grey; }

.scalerwidget{ font-size: 1em; }
.scalerEntry{}
.scalerback{
  fill: none; stroke: none;
  /* fill: rgba(245,245,245,0.5); stroke: rgba(185,185,185,0.80); */
}
.activescaler > .scalerback{ /* fill-opacity: 0.85; */ }
.scalerheader{ fill: rgba(185,185,185,0.80); fill-opacity: 0.55; }
.activescaler > g > .scalerheader{ fill: #909090; fill-opacity: 0.95; }
.scaleraxis{  }
.scalertoggle{  }

.peaklabelarrow {
  stroke-width: 1.5;
  stroke: black;
  z-index: 100;
}

.leftbuttonzoombox {
  fill: #666;
  fill-opacity: 0.25;
}
.leftbuttonzoomoutbox {
  fill: none;
}
.leftbuttonzoomoutboxy {
  fill: #666;
  fill-opacity: 0.1;
}
.deletePeaksBox {
  fill: #666;
  fill-opacity: 0.5;
}
.countGammasBoxForward {
  fill: rgba(255,255,0,0.605);
  fill-opacity: 1;
}

.sliderBox {
  user-select: none;
  -moz-user-select: none;
}
.sliderDragRegion {
}
.sliderDragRegionLine {
}
.line {
  fill: none;
  stroke-width: 1px;
}
.sline {
  fill: none;
  stroke-width: 0.7px;
}
.rline {
  fill: none;
  stroke-width: 0.5px;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
.title { font-size: 1.5em; }
.chart {
  background-color: #F7F2C5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 500px; 
}
