
/* In order to dynamically set color values from within Wt, we cant specify colors
   in the CSS file; so this fiel is the same as SpectrumChartD3.js, just without
   color values for things we will want to maybe dynamically change.

   SpectrumChartD3 and InterSpecD3Chart style classes are applied to the base
   <svg> element.  InterSpecD3Chart is also applied to the time-chart in InterSpec
   and possible other places in InterSpec, so this class is used for things that
   should be consistent between the charts
*/

/*
CSS variables InterSpec will define for colors, and line widths:
--d3spec-axis-color
--d3spec-text-color
--d3spec-background-color
--d3spec-chart-area-color
--d3spec-grid-major-color
--d3spec-grid-minor-color
--d3spec-fore-line-color
--d3spec-back-line-color
--d3spec-second-line-color
*/

/*******************/
svg.SpectrumChartD3 {
  /* This is the <svg> element. */
  background: var(--d3spec-background-color, none);
}


.roiDragBox {
  fill-opacity: 0.2;
  stroke-width: 1px;
  user-select: none;

  stroke: var(--d3spec-axis-color, black);
  fill: var(--d3spec-axis-color, black);
}

.roiDragLine{
  fill: none;
  stroke-width: 1px;
}


.roiDragBox.active {
  /* This class doesnt seem to have any effect... maybe just do it in JS.*/
  /* fill-opacity: 0.5; */
}
.roiDragLine.active {
  stroke-width: 1.5px;
}

/*******************/

.chartarea{
  fill: var(--d3spec-chart-area-color, rgba(0,0,0,0));
}


.InterSpecD3Chart .axis > .tick > line {
  stroke-width: 1px;
}


.InterSpecD3Chart .axis text.xaxistitle, 
.InterSpecD3Chart text.xaxistitle, 
.InterSpecD3Chart text.yaxistitle { 
  font-size: 14px; 
  cursor: pointer;
}

.InterSpecD3Chart .axis > path, 
.axis line { 
  fill: none; 
}

.xaxistitle, .yaxistitle, .yaxis, .yaxislabel, .xaxis, .xaxis > .tick > text, .yaxis > .tick > text {
  fill: var(--d3spec-text-color, black);
}

.InterSpecD3Chart text.xaxistitle:hover, .InterSpecD3Chart text.yaxistitle:hover {
  font-weight: bold;
}

.xaxis > .domain, .yaxis > .domain, .xaxis > .tick > line, .yaxis > .tick > line, .yaxistick {
  stroke: var(--d3spec-axis-color, black);
}

.InterSpecD3Chart .axis text { 
  font-family: sans-serif; 
  font-size: 0.9em; 
}


.InterSpecD3Chart .grid path {
    fill: none;
}


.xgrid > .tick, .ygrid > .tick {
  /* stroke-opacity: 80%; */
  stroke: var(--d3spec-grid-major-color, #b3b3b3);
}

.minorgrid {
  /* stroke-opacity: 50%; */
  stroke: var(--d3spec-grid-minor-color, #e6e6e6);
}

/* The box that holds the peak label text */
.peaklabel, .peakLabelBold {
  font-size: 1em;
  cursor: default;
  fill: var(--d3spec-text-color, black);
}

/*
.peakLabelBorder {
  z-index: 99;
  fill: red;
}
*/

.peakLabelBold {
  font-weight: bold;
  z-index: 100;
}

.peaklabelline {
  stroke-width: 1.5;
  z-index: 100;
  stroke: var(--d3spec-axis-color, black);
}


.peakLine {
  font-size: 0.8em;
  stroke-width: 2;
  stroke: var(--d3spec-axis-color, black);
}

.escapeLineForward {
  font-size: 0.8em;
  stroke-width: 2;
  stroke-dasharray: 2;
  stroke: var(--d3spec-axis-color, black);
}
  
.SpectrumChartD3 .mouseLine {
  font-size: 0.8em;
  stroke-width: 2;
  stroke: var(--d3spec-axis-color, black);
}

.SpectrumChartD3 .secondaryMouseLine {
  font-size: 0.8em;
  stroke-width: 1;
  stroke: var(--d3spec-axis-color, black);
}

.SpectrumChartD3 .mouseLineText {
  font-size: 0.8em;
  font-family: Helvetica, Arial;
  font-weight: bold;
  fill: var(--d3spec-text-color, black);
}

.SpectrumChartD3 .recalibrationMousePosLines {
  stroke: var(--d3spec-axis-color, black);
}

.referenceGammaSelectDiv { display: inline-block; margin-left: 25px; }
.referenceGammaSelect { width: 200px; height: 130px; }

.touchLine{  stroke-width: 2; stroke: gray; stroke-dasharray: 3;  }

.createPeakMouseLine { fill: none; stroke: black;  stroke-width: 1.5px; }
.createPeakArrowLine { fill: none; stroke: black;  stroke-width: 1px; }
.createPeakContEstLine { fill: none; stroke: grey; stroke-width: 2px;  }
.createPeakLeftTouchPoint { fill: blue; }
.createPeakRightTouchPoint { fill: black; }
.createPeakTouchLine { stroke-width: 2; stroke: grey; stroke-dasharray: 4; }


.refLineInfo{ font-size: 0.8em; }
.mouseInfo{ font-size: 0.85em;  }
.mouseInfoBox{ fill: white; fill-opacity: 0.85; }

.refLineCandidatesText {
  font-size: 0.8em;
  fill: var(--d3spec-text-color, black);
}

.refLineCandidatesBackground {
  fill: var(--d3spec-chart-area-color, white);
  fill-opacity: 0.8;
  stroke: var(--d3spec-axis-color, black);
  stroke-width: 1px;
}

/* Allow clicks to pass through the reference lines to the visualization beneath */
g.ref, g.ref line {
    pointer-events: none;
}

.peakInfo{
  font-size: 0.85em;
}

.peakInfoBox{
  fill: #ffffcc;
  fill-opacity: 1;
  stroke: #444422;
}
.peakInfoLabel {
  font-weight: bold;
}

.legend{ font-size: 1em; }
.legentry > tspan {
  alignment-baseline: middle;
}
.legendBack{ fill: rgba(245,245,245,0.5); stroke: rgba(185,185,185,0.80); }
.activeLegend > .legendBack{ fill-opacity: 0.85; }
.legendHeader{ fill: rgba(185,185,185,0.80); fill-opacity: 0.55; }
.activeLegend > g > .legendHeader{ fill: #909090; fill-opacity: 0.95; }
.d3closebut{ fill: rgba(0,0,0,0); }
/* .d3closebut:hover{ fill: #4d4d4d; } */


/* Adjust size of yellow peak-info box to be smaller on phones. */
@media screen and (max-device-width: 480px) {
  .peakInfo{
    font-size: 0.5em;
  }
  .legend{
    font-size: 0.5em;
  }
  
  .InterSpecD3Chart text.yaxistitle {
    font-size: 6px;
  }
}

.chartLineText {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }


.deletePeaksText  {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.countGammasText  {  font-size: 0.8em; font-family: Helvetica, Arial;  font-weight: bold }
.peakText {
  font-size: 0.8em;
  font-family: Helvetica, Arial;
  font-weight: bold;
  fill: var(--d3spec-text-color, black);
}
.contEstLineText {  font-size: 0.8em; font-family: Helvetica, Arial;  stroke:grey;  }
.createPeakTouchText {  font-size: 0.8em; font-family: Helvetica, Arial;  stroke:grey; fill: grey; }

.scalerwidget{ font-size: 1em; }
.scalerEntry{}
.scalerback{
  fill: none; stroke: none;
  /* fill: rgba(245,245,245,0.5); stroke: rgba(185,185,185,0.80); */
}
.activescaler > .scalerback{ /* fill-opacity: 0.85; */ }
.scalerheader{ fill: rgba(185,185,185,0.80); fill-opacity: 0.55; }
.activescaler > g > .scalerheader{ fill: #909090; fill-opacity: 0.95; }
  
.SpectrumChartD3 .scalertxt{
  fill: var(--d3spec-text-color, black);
}
.scaleraxis {
  stroke-opacity: 0.8;
  fill-opacity: 0.3;
  stroke: var(--d3spec-axis-color, black);
}
  
.scalertoggle {
  stroke: var(--d3spec-axis-color, black);
}

.BackgroundScaler .scaleraxis, .BackgroundScaler .scalertoggle {
  fill: var(--d3spec-back-line-color, black);
}

.SecondaryScaler .scaleraxis.secondary, .SecondaryScaler .scalertoggle.secondary {
  fill: var(--d3spec-second-line-color, black);
}


.leftbuttonzoombox {
  fill: #666;
  fill-opacity: 0.25;
}
  
  .leftbuttonzoomoutboxy {
    fill: #666;
    fill-opacity: 0.1;
  }
  .deletePeaksBox {
    fill: #666;
    fill-opacity: 0.5;
  }
  .countGammasBoxForward {
    fill: rgba(255,255,0,0.605);
    fill-opacity: 1;
  }
  
  .sliderBox {
    user-select: none;
    -moz-user-select: none;
    
    stroke-width: 0.2%;
    fill-opacity: 0.5;
    fill: var(--d3spec-axis-color, black);
    stroke: var(--d3spec-axis-color, black);
  }
  .sliderDragRegion {
  }
  .sliderDragRegionLine {
  }
  .sline {
    fill: none;
    stroke-width: 0.7px;
  }
  .rline {
    fill: none;
    stroke-width: 0.5px;
  }
  
  .focus circle {
    fill: none;
    stroke: steelblue;
  }
  
  
  .SpectrumChartD3 .title { font-size: 1.5em; }
  .SpectrumChartD3 .chart {
    background-color: #F7F2C5;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
  }
  
  
  g.highlight text {
    font-size: 1em; /* Same size as .peaklabel */
    /* TODO: We will set the color and size here... */
    text-anchor: middle;
    dominant-baseline: baseline;
  }
  
  g.highlight path {
    stroke: none;
    stroke-width: 0px;
  }
  
  
  
  .SpectrumChartD3 .slider-plot {
    fill: var(--d3spec-axis-color, black);
    opacity: 0.1;
  }
  
  .SpectrumChartD3 .slider-close {
    stroke-width: 1.0px;
    stroke-opacity:  0.2;
    stroke: var(--d3spec-axis-color, black);
  }
  
  .SpectrumChartD3 .slider-close:hover {
    stroke-opacity:  1;
    stroke-width: 1.5px;
  }
  
  .SpectrumChartD3 .sliderDragRegion {
    fill-opacity: 0.1;
    fill: var(--d3spec-axis-color, black);
    stroke: var(--d3spec-axis-color, black);
    stroke-width: 0.1%;
  }
  
  .SpectrumChartD3 .slider-open {
    opacity:  0.2;
  }
  
  .SpectrumChartD3 .slider-open:hover {
    opacity:  1;
  }
  
  .SpectrumChartD3 .slider-open-plot{
    /* slider-plot */
    fill: var(--d3spec-axis-color, black);
    opacity: 0.2;
    stroke: none;
  }
  
  .SpectrumChartD3 .slider-open-box{
    /* sliderBox */
    fill-opacity: 0.45;
    fill: var(--d3spec-axis-color, black);
    stroke: none;
  }
  
  
.SpectrumChartD3 .speclinepath {
  stroke: black; /* default color for line that doesnt have type label*/
  fill: none;
}
  
.SpectrumChartD3 path.speclinepath.FOREGROUND, .SpectrumChartD3 path.SpectrumLegendLine.FOREGROUND {
  stroke: var(--d3spec-fore-line-color, black);
}
  
.SpectrumChartD3 path.speclinepath.BACKGROUND, .SpectrumChartD3 path.SpectrumLegendLine.BACKGROUND {
  stroke: var(--d3spec-back-line-color, rgb(0,255,255) ); /* cyan */
}
  
.SpectrumChartD3 path.speclinepath.SECONDARY, .SpectrumChartD3 path.SpectrumLegendLine.SECONDARY {
  stroke: var(--d3spec-second-line-color, rgb(0,128,128) ); /* dark green */
}

.SpectrumChartD3 .SpectrumLegendLine {
  fill: none;
}


