# From https://github.com/wjakob/nanobind_example/blob/5ce5ce57143a469e92d9ebaee9c47949ee77caa8/.github/workflows/wheels.yml

name: Wheels

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
     - master
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build SDist
      run: pipx run build --sdist ./bindings/python

    - name: Check metadata
      run: pipx run twine check ./bindings/python/dist/*

    - uses: actions/upload-artifact@v6
      with:
        name: dist-sdist
        path: bindings/python/dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, windows-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: pypa/cibuildwheel@v3.3.1
      env:
        CIBW_ARCHS_MACOS: "universal2"
        CIBW_ENABLE: "pypy"
      with:
        package-dir: ./bindings/python

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v6
      with:
        path: wheelhouse/*.whl
        name: dist-${{ matrix.os }}

  test_newer_macos:
    name: Test wheels on ${{ matrix.os }} (no publish)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15, macos-26]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: pypa/cibuildwheel@v3.3.1
      env:
        CIBW_ARCHS_MACOS: "universal2"
        CIBW_ENABLE: "pypy"
      with:
        package-dir: ./bindings/python

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

  upload_all:
    name: Upload if release
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/SandiaSpecUtils
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    #if: github.event_name == 'release' && github.event.action == 'published'

    steps:
    - uses: actions/setup-python@v5
    - uses: actions/download-artifact@v7
      with:
        pattern: dist-*
        merge-multiple: true
        path: dist
    - shell: bash
      run: |
        pwd
        ls

    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dist
